/vendor/
/node_modules/
/.env
/.env.backup
/.env.production
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public
!/storage/app/public/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/public/hot
/public/storage
/.phpunit.cache
.DS_Store
Thumbs.db
